@model List<SportsIdentity.Models.Player>
@{
    ViewBag.Title = "showPlayers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>showPlayers</h2>
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">National</th>
            <th scope="col">DateOfBorth</th>
            <th scope="col">footBallTeam</th>
            <th scope="col">PlayerImage</th>
            <th scope="col"></th>
            <th scope="col"></th>

        </tr>
    </thead>
    <tbody>
        @foreach (SportsIdentity.Models.Player item in Model)
        {
            <tr>
                <th scope="row">@item.ID</th>
                <td>@item.Name</td>
                <td>@item.national</td>
                <td>@item.DateOfBirth</td>
                <td><img style="height:80px;width:100px;" src="~/Assets/images/@item.image" /></td>
            </tr>
        }


    </tbody>
</table>
<td>@Html.ActionLink("BackToHome", "BackToHome", new { @class = "btn btn-danger" })</td>